body {
  background-color: black;
  color:white;
}

ul {
  list-style-type:none;
}

a {
  color:white;
}


#music {
  border:1px solid red;
}

.menu a{
  text-decoration:none;
  padding:0 10px 0 10px;
  /*border:solid 1px red;*/
}

.menu {
  float:right;
  position:fixed;
  font-size:20px;
  margin:-100px 0 0 0;
  /*border:solid 1px blue;*/
}

.menu nav ul li{
  display:inline-block;
  background-color:#333333;
}

#background-splash {
  background-image:url("../imgs/tempbackground.png");
  height:500px;
  width:100%;
  margin:0;
  padding:0;
  position:absolute;
  opacity:.4;
}

.active {
  color:red;
}

/*.break {
  clear:both;
}*/

.firstimpressions {
  margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  width: 16em;
  text-align:center;
  position:relative;
  /*border:solid 1px red;*/
}

.firstimpressions img {
  border-radius:140px;
}

#bio {
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  /*width:25%;*/
  max-height:400px;
  background-color:white;
  color:black;
  /*border-radius:50%;*/
}

.grey {
  background-color:grey;
  height: 80em;
  margin:0;
  padding:0;
}

#contact {
  /*background-image:url("../imgs/tempcontact.png");*/
  background-repeat:no-repeat;
  height:500px;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
  border:1px solid red;
  width:250px
}

#contact p {
  /*margin:50 50 50 50;*/
  color:black;
}

#blog {
  text-align:center;
  padding:200px;
}
